/*!
 * Start Bootstrap - Grayscale v5.0.2 (https://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-grayscale/blob/master/LICENSE)
 */

#mainNav .navbar-toggler {
  color: gray !important;
  border: 1px solid gray !important;
}

.nav-link:hover {
  color: #038fe7 !important;
}

.main-btn {
  background-color: transparent;
  border: 1px solid white;
}

.main-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white !important;
}

.main-btn:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white !important;
}

.main-btn:active {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white !important;
}

.masthead {
  background: url("../img/factory-darken.jpg") !important;
}

.bg-blue {
  background-color: #03b1ef;
}

.bg-green {
  background-color: #97ca4d;
}

.bg-blue-drk {
  background-color: #038fe7;
}

.bg-green-drk {
  background-color: #6db01f;
}

.color-green {
  color: #6db01f;
}

.color-blue {
  color: #038fe7;
}

.featured-text {
  border-left: 0.5rem solid #6db01f !important;
}

.readmore-green {
  color: #97ca4d;
}

.readmore-green:hover {
  color: #6db01f;
}

.readmore-blue {
  color: #038fe7;
}

.readmore-blue:hover {
  color: #03b1ef;
}

.icon-green {
  color: #97ca4d !important;
}

.icon-blue {
  color: #038fe7 !important;
}

.border-color-blue {
  border-color: #038fe7 !important;
}

.border-color-green {
  border-color: #97ca4d !important;
}

.nat-a {
  color: darkgray !important;
}

.nat-a:hover {
  color: lightgray !important;
}

.blk-a {
  color: #000;
}

.blk-a:hover {
  color: gray;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/banner/injection-molding-banner.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner/injection-molding-banner.jpeg");
  /* Set a specific height */
  height: 40vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

.hero-image-casting {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/banner/casting-banner.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner/casting-banner.jpeg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

.hero-image-waterjet {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/banner/waterjet-cutting-banner.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner/waterjet-cutting-banner.jpeg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-moulding {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/banner/moulding-banner.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner/moulding-banner.jpg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-coating {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/banner/coatings-banner.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner/coatings-banner.jpeg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-medical {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/banner/medical-banner.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner/medical-banner.jpeg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.tabs-color {
  color: gray !important;
}

.tabs-color:hover {
  color: #000000 !important;
}

.tabs-color:active {
  color: #000000 !important;
}

.tabs-color:focus {
  color: black !important;
}
