#mainNav{
  .navbar-toggler{
    color: gray!important;
    border: 1px solid gray!important;
  }

}
.nav-link{
  &:hover{
    color: #038fe7!important;
  }
}

.main-btn{
  background-color: transparent;
  border: 1px solid white;
  &:hover{
    background-color: rgba(255, 255, 255,0.2);
    border: 1px solid white!important;

  }
  &:focus {
    background-color: rgba(255, 255, 255,0.2);
    border: 1px solid white!important;

  }
  &:active{
    background-color: rgba(255, 255, 255,0.2);
    border: 1px solid white!important;

  }
}

.masthead{
  background: url('../img/factory-darken.jpg')!important;
}

.bg-blue{
  background-color: #03b1ef;
}

.bg-green{
  background-color: #97ca4d;
}

.bg-blue-drk{
  background-color: #038fe7;
}

.bg-green-drk{
  background-color: #6db01f;
}

.color-green{
  color: #6db01f;
}

.color-blue{
  color: #038fe7;
}

.featured-text{
  border-left: .5rem solid #6db01f!important;
}

.readmore-green{
  color: #97ca4d;
  &:hover{
    color: #6db01f;
  }
}

.readmore-blue{
  color: #038fe7;
  &:hover{
    color: #03b1ef;
  }
}

.icon-green{
  color: #97ca4d!important;
}

.icon-blue{
  color: #038fe7!important;
}

.border-color-blue{
  border-color: #038fe7!important;
}

.border-color-green{
  border-color: #97ca4d!important;
}

.nat-a{
  color: darkgray!important;
  &:hover{
    color: lightgray!important;
  }
}

.blk-a{
  color: #000;
  &:hover{
    color: gray;
  }
}

//Injection Moulding Page SASS Start!!
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/banner/injection-molding-banner.jpeg');

  /* Set a specific height */
  height: 40vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

/* Place text in the middle of the image */
.hero-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;


}
//INJECTION MOULDING STYLE END!!

//CASTING STYLING START!!
.hero-image-casting {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/banner/casting-banner.jpeg');
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
//CASTING STYLING END!!

//WATERJET CUTTING STYLING START!!
.hero-image-waterjet {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/banner/waterjet-cutting-banner.jpeg');
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
//WATERJET CUTTING STYLING END!!

//MOULDING & EXTRUSIONS STYLING START!!
.hero-image-moulding {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/banner/moulding-banner.jpg');
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
//MOULDING & EXTRUSIONS STYLING END!!

//COATING STYLING START!!
.hero-image-coating {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/banner/coatings-banner.jpeg');
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
//COATING STYLING END!!

//MEDICAL STYLING START!!
.hero-image-medical {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/banner/medical-banner.jpeg');
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.tabs-color{
  color: gray!important;
  &:hover{
    color: #000000!important;
  }
  &:active{
    color: #000000!important;
  }
  &:focus{
    color: black!important;
  }
}
//MEDICAL STYLING END!!